nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 4rem;
    background-color: rgb(91, 93, 216);
    /* border: 1px solid rgb(111, 226, 45); */
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    color: red;
    text-decoration: none;
    list-style: none;
    /* border:1px solid rgb(161, 8, 15); */
    /* padding: 0 , 25rem; */
    margin: 0;
    margin-right: 3rem;
    font-family: 'Hind Siliguri', sans-serif;
}

nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    padding: 0 1rem ;
    width: auto;
    cursor: pointer;
    /* border:1px solid red; */
}

nav li:hover{
    background-color: rgb(75, 77, 184);
    border-radius: 5px;
    width: auto;
    height: 40px;
}

.contenedorimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: rgb(255, 255, 255);
    height: 100%;
    width: 12rem;
    /* border: 1px solid rgb(255, 60, 0); */
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem; 
    height: 2rem;
    padding-right: 10px;
    
    font-size: 3rem;
    /* border: 1px solid yellowgreen; */
}

.chango{
    width: 1.5rem; 
    height: 1.5rem;
}

.menu{
    width: 2rem; 
    height: 2rem;
    /* border: 1px solid red; */
}

.onlyresponsive{
    display: none;
}

.itemQuantity{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    background-color: tomato;
    margin-left: -.3rem;
}

li .icons{
    height: 40px;
    width: auto;
}


@media (max-width: 700px) {
    .responsive {
      display: none;
    }
    
    .onlyresponsive{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        /* border: yellowgreen 1px solid; */
        margin-left: 10px;
        margin-right: 3rem;
    }

  }
  