.container_product{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 17rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  10px 10px 25px 8px #c4c4c4;
    min-width: 700px;
    /* border: 1px solid rgb(0, 255, 34); */
}

.container_img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-width: 350px;
    height: auto;
    max-height: 250px;
    /* border: 1px solid red; */
}

.container_img img {
    max-width: 350px;
    max-height: 250px;
}


.info_container_product{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    width: 150%;
    height: 100%;
    /* border:1px solid blue; */
}

.description_product{
    width: 75%;
    text-align:left ;
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(91, 93, 216);
    /* border: 1px solid salmon; */
}

.title_product{
    text-align: left;
    font-size: 1.2rem;
    color: black;
    font-weight: 300;
    width: 75%;
}

.stock_product{
    text-align: left;
    font-size: 1rem;
    color: black;
    font-weight: 600;
    width: 75%;
    /* border: 1px solid salmon; */
    color: rgb(91, 93, 216);
    margin-top: -.5rem;
}

.btn_container_product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(197, 190, 243);
    width: 75%;
    height: 2.5rem;
    border-radius: 50px;
}

.btn_container_product button{
    cursor: pointer;
    color: rgb(91, 93, 216);
    width:2rem;
    height: 2rem;
    border-radius: 100%;
    border: none;
    margin: 0 .4rem;
}

.btn_cart_product{
    font-size: .8rem;
    font-weight: 400;
    height: 2rem;
    width: 75%;
    margin-top: .5rem;
    border: 1px solid rgb(91, 93, 216);
    background-color: none;
    border-radius: 20px;
    color: rgb(91, 93, 216);
}

.btn_cart_product:hover{
    background-color: rgb(91, 93, 216);
    color: white;
    cursor: pointer;
}

.none{
    display:none;
}

.compra-finalizada{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: green;
}

