h1{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 250;
}

.bienvenidos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: rgb(113, 114, 218);
}

.itemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
    max-width: 250px;
    min-height: 350px;
    max-height: 350px;
    border: 2px solid rgb(210, 211, 247);
    background-color: white;
    border-radius: 15px;
    margin: 1rem 10px;
}

.card img{
    width: 65%;
    height: auto;
}

.imagen{
    width: 90%;
    height: auto;
}

.textContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    color: black;
    font-size: .8rem;
    font-weight: 700;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
   /*  border: 1px solid red; */
}

.description{
    text-align: center;
    align-items: center;
    width: 90%;
    color: rgb(113, 115, 218);
    font-size: 1rem;
    font-weight: 600;
    /* border:1px solid red */
}

.container_item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border:1px solid red; */
}

.button{
    font-size: .8rem;
    font-weight: 400;
    height: 2rem;
    width: 75%;
    margin-top: .5rem;
    border: 1px solid rgb(91, 93, 216);
    border-radius: 20px;
    background-color: rgb(91, 93, 216);
    color: white;
    
}

.button:hover{
    background-color: white;
    color: rgb(91, 93, 216);
    cursor: pointer;
}

p{
    margin: 0;
}