.container_general{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_cart_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 19px 2px #c4c4c4;
    background-color: white;
    margin: 1rem 0;
    padding-top: 0rem;
    min-width: 700px;
    /* border:1px solid red; */
}

.container_input_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 19px 2px #c4c4c4;
    background-color: white;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 700px;
    /* border:1px solid red; */
}


.container_cart{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    /* border:1px solid green; */
}

.container_input{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    margin-top: .3rem;
    /* border:1px solid green; */
}

.containerBoxCart{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
    margin:0 2rem;
    /* border: 1px solid red; */
}

.containerBoxCart ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    text-decoration: none;
    margin:0;
    padding: 0;
    /* border: 1px solid blue; */
}

.containerBoxCart img{
    height:70px;
    width: auto;
    margin: 0 1rem;
}

.title_container{
    font-family: 'Hind Siliguri', sans-serif;
    height: auto;
    font-size: .9rem;
    font-weight: 300;
    color: rgb(94, 94, 94);
    width: 180px;
    /* border:1px solid blue; */
    /* margin: 0 1rem; */
}

.desc_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 400;
    /* border:1px solid rgb(255, 145, 0); */
    margin: 0 .5rem;
    color: rgb(113, 114, 218);
}
.finish_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 800;
    /* border:1px solid rgb(255, 145, 0); */
    margin: 0.5rem .5rem;
    color: rgb(113, 114, 218);
}

.desc_input{
    margin: 0 0.3rem;
    height: 1.3rem;
    border-radius: 5px;
    border-style: none;
    border: 2px solid rgb(113, 114, 218);
    font-size: 0.8rem;
    color: rgb(53, 53, 53);
}

input:focus{
    outline:none;
    border: 2px solid rgb(158, 158, 158);
} 

.numero_container{
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 .5rem;
    color: rgb(113, 114, 218);
    cursor: pointer;
}

.numero_container b{
    text-align: center;
    width: 30px;
    /* border:1px solid red; */
}

.numero_container button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 15px;
    margin:0 1rem;
    text-align: start;
    padding-top: -5rem;
    color: rgb(113, 114, 218);
    background-color: white;  
    cursor: pointer; 
    border-style: none; 
    border: 1px solid rgb(113, 114, 218);
}

.numero_container button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(113, 114, 218); 
}

.price_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 120px;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(113, 114, 218);
    margin: 0 1rem;
    /* border:1px solid rgb(0, 255, 34); */
}

.unitary_price{
    font-size: .8rem;
    margin-bottom: -.5rem;
}

.price{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}


.btn{
    height: 2rem;
    width: 6rem;
    border: 1px solid rgb(113, 114, 218);
    background-color: none;
    color: rgb(91, 93, 216);
    border-radius: 20px;
    margin: 2rem;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(91, 93, 216);
    color: white;
    cursor: pointer;
}
.btn_enviar{
    height: 1.8rem;
    width: 6rem;
    border: 1px solid rgb(113, 114, 218);
    background-color: none;
    color: rgb(91, 93, 216);
    border-radius: 10px;
    margin: 0.5rem;
    cursor: pointer;
}

.btn_enviar:hover{
    background-color: rgb(91, 93, 216);
    color: white;
    cursor: pointer;
}

.disp_none{
    display:none
}