.container_general{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_cart_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 1px 1px 19px 2px #c4c4c4;
    background-color: white;
    margin-top: 3rem;
    padding-top: 2rem;
    /* border:1px solid red; */
}

.container_cart{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    margin-top: 1rem;
    /* border:1px solid green; */
}

.containerBoxCart{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);
    margin:0 2rem;
}

.containerBoxCart ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin:0;
    padding: 0;
}

.containerBoxCart ul li{
    /* border: 1px solid blue; */
}

.containerBoxCart img{
    height:70px;
    width: auto;
    margin: 0 1rem;
}

.title_container{
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: 600;
    /* border:1px solid blue; */
    margin: 0 1rem;
    color: rgb(94, 94, 94);
}

.numero_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 400;
    /* border:1px solid rgb(255, 145, 0); */
    margin: 0 .5rem;
    color: rgb(113, 114, 218);
}

.numero_container button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1rem;
    font-weight: 400;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 15px;
    margin:0 1rem;
    text-align: start;
    padding-top: -5rem;
    color: rgb(113, 114, 218);
    border: 1px solid rgb(113, 114, 218);
    background-color: white;  
    cursor: pointer;  
}

.numero_container button:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(113, 114, 218); 
}

.price_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: auto;
    height: auto;
    font-size: 1rem;
    font-weight: 400;
    /* border:1px solid rgb(0, 255, 34); */
    color: rgb(113, 114, 218);
    margin: 0 1rem;
}

.unitary_price{
    font-size: .8rem;
    margin-bottom: -.5rem;
}

.price{
    font-size: 2rem;
    font-weight: 700;
}


.btn{
    height: 2rem;
    width: 6rem;
    border: 1px solid rgb(113, 114, 218);
    background-color: none;
    color: rgb(91, 93, 216);
    border-radius: 20px;
    margin: 2rem;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(91, 93, 216);
    color: white;
    cursor: pointer;
}